@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Rubik+Mono+One&display=swap');

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
}

body{
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Colores*/
:root{
    --color__principal: rgb(0, 113, 212);
    --color__secundario: rgb(73, 211, 242);
    --color__terciario: rgb(104, 102, 102);
/*colores básicos*/
--color__blanco: white;
--color__negro: black;
}

nav{
    background: var(--color__secundario);
    height: 60px;
    width: 100%;
}

label.Logo{
    color: var(--color__principal);
    font-size: 35px;
    line-height: 60px;
    padding: 0 20px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 7px;
}

nav ul li a{
    color: var(--color__terciario);
    font-size: 17px;
    font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:hover{
    background-color: var(--color__principal);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: var(--color__principal);
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/* . para clase , # para identificador */

#check{
    display: none;
}

@media  (max-width:720px){
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 10px;
    }
}

@media (max-width: 720px){
    .checkbtn{
        display: block;
    }
    /*agregue el nav*/

   nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--color__blanco);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    nav ul li{
         font-size: 19px;
    }

    a:hover{
        background: var(--color__primario);
    }
    #check:checked ~ul{
        left: 0%;
    }
}



/*sección de imagen y bienvenida */

.hero{
    background:linear-gradient(to bottom,rgba(199, 195, 195, 0.285),rgba(208, 206, 206, 0.774)), url("https://images.unsplash.com/photo-1533750349088-cd871a92f312?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 50vh;
    text-align: center;
    border-bottom: 5px solid #1C6EA4;
    border-radius: 0px 0px 90px 31px;
}

h2{
    color:var(--color__negro);
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

h3{
    color: var(--color__blanco);
    font-size: 25px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
}

/* Contenido principal */

.container{
    justify-content: center;
    align-items: center;
    display: flex;
}
.contenido__principal{
    width: 80%;
    margin: 3% auto;
}
.contenido__principal img{
    max-width: 100%;
    border-radius: 10px;
    float: left;
    margin-right: 5%;
    margin-bottom: 5%;
}
.texto__caja{
    color: var(--color__negro);
    font-size: 19px;
    justify-content: center;
}
@media (max-width:720px){
    .contenido__principal{
    font-size: 19px;
    justify-content: center;
}
}
.texto__caja h3 {
    font-size: 19px;
    color: var(--color__negro);
}
.flex__container{
    background-color: rgb(118, 186, 255);
    border: 5px solid rgb(10, 140, 180);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 5% auto;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    

 }
 /*ejericio flexbox*/

 .box__01{
     background-color: var(--color__primario);
     background: linear-gradient(to bottom, #056ee74d, #22a0e37d), url("https://images.unsplash.com/photo-1578070181910-f1e514afdd08?q=80&w=1866&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
     background-size: cover;
     width: 230px;
     height: 150px;
     line-height: 150px;
     text-align: center;
     border: solid rgb(239, 239, 239) 5px;
     color: var(--color__blanco);
     font-size: 35px;
 }
 
 .box__02{
     background-color: var(--color__secundario);
     background: linear-gradient(to bottom, #056ee74d, #22a0e37d), url("https://images.unsplash.com/photo-1487379595640-f04ccae706cd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
     background-size: cover;
     width: 230px;
     height: 150px;
     line-height: 150px;
     text-align: center;
     border: solid rgb(255, 252, 252) 5px;
     color: rgb(252, 252, 252);

 }

 .box__03{
     background-color: var(--color__primario);
     background: linear-gradient(to bottom, #056ee74d, #22a0e37d), url("https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
     background-size: cover;
     width: 230px;
     height: 150px;
     line-height: 150px;
     text-align: center;
     border: solid rgb(251, 249, 249) 5px;
     color: rgb(255, 255, 255);
 }

 .box__04{
     background-color: var(--color__secundario);
     background: linear-gradient(to bottom, #056ee74d, #22a0e37d), url("https://images.unsplash.com/photo-1515266591878-f93e32bc5937?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center no-repeat ;
     background-size: cover;
     width: 230px;
     height: 150px;
     line-height: 150px;
     text-align: center;
     border: solid rgb(255, 253, 253) 5px;
     color: rgb(247, 247, 247);
     size: 15px;
 }
 /* tarjeta */
 .contendor__tarjeta{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
 }
.tarjeta{
    width: 325px;
    background-color:var(--color__principal);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0,0.3);
    overflow: hidden;
}
.tarjeta img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.contenido__tarjeta{
    padding: 20px;
}
.contenido__tarjeta p{
    font-size: 20px;
    color: var(--color__terciario);
}

.boton__tarjeta{
    display: inline-block;
    background-color: var(--color__blanco);
    color: var(--color__secundario);
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 15px;
}

 /* termina tarjeta */

 /* footer */

 .footer {
    background:var(--color__secundario);
    padding: 30px 0;
    text-align: center;
    margin-top: 20px;
 }
 .footer a{
    font-size: 17px;
    color: var(--color__blanco);
    text-decoration: none;
    list-style: none;
 }
 .footer .contenido__footer {
    width: 100%;
    margin-top: 2% 0;
    text-decoration: none;
 }

 .footer .contenido__footer ul{
    width: 100%;
 }

 .footer .contenido__footer ul li {
    display: inline-block;
    margin: 0 15px;
    text-align: left;
 }
 .footer .contenido__footer a i{
    font-size: 25px;
    margin: 1px 10px;
 }


 @media (max-width:720px){
    .footer{
        text-align: left;
        padding: 15px;
    }

    .footer .contenido__footer ul li a{
        display: block;
        margin: 20px 0px;
        text-align: left;
    }
    
 }
